<footer>
	<p>-------------------------</p>
	<h3><a href="..">{{capitalize menu}}</a></h3>
	<a href="{{link1}}">Main</a>
	<a href="{{link2}}">The other page</a>
	<p>Copyright {{getCurrentYear}} </p>
</footer>
